extends layout/common.jade

block content
    #first-page.clearfix
        .intro-wrap(style="vertical-align: middle;display:table-cell")
            h1.heading 你好!
            .content(style="display: none;")
                p 很高兴遇见你
                p
                    span: a(href="mailto:guiqi.zh@gmail.com").fa.fa-envelope
                    span: a(href="https://github.com/somonus", target="_blank").fa.fa-github
            .scroll-label
                i.fa.fa-angle-double-down
    #second-page.clearfix
        .intro-wrap
            h1 我的经历
        .experience-wrap.clearfix(init="false")
            #experienceTimeLine
    #third-page.clearfix
        .intro-wrap
            h1 我的技能
            .content
                p 主要技能点有数据可视化，前端，nodejs后端，ios客户端
        .skill-wrap.clearfix.container(init="false")
            .legend
                ul.skillsList
                    li: button.btn(style="background:#88B8E6;") Common
                    li: button.btn(style="background:#97BE0D;") IOS
                    li: button.btn(style="background:#D84F5F;") FE-Basic
                    li: button.btn(style="background:#998566;") FE-Advanced
            #skillChart
    #fourth-page.clearfix
        .intro-wrap.container
            h1 我的项目
            table.projectTable
                th(colspan="2")
                    i.fa.fa-archive
                    strong 知识图谱可视化
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 对巨量数据进行可视化展示，对知识图谱的实体和关系进行合理描述。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 使用echarts绘制整体形状，使用zrender进行个性化需求。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 技术栈：react+redux+react-router+webpack+ES6+echarts+zrender'
            table.projectTable
                th(colspan="2")
                    i.fa.fa-archive
                    strong 纸蜻蜓
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 使用object-c开发纸蜻蜓ios应用。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 封装大图查看ios组件。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 封装扩展ios原生组件，以满足项目需求。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 使用autolayout布局，通过AOP方式对控件打点。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 使用cocoapods管理组件依赖，并将抽离组件发布为私有cocoapods组件。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 技术栈：object-c+masonry+cocoapods'
            table.projectTable
                th(colspan="2")
                    i.fa.fa-archive
                    strong DARN
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 封装DA部门react-native应用框架,封装ios原生组件暴露给react-native使用。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 通过rnpm管理react-native组件，并通过prepublish脚本来将cocoapods于rnpm有机结合。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 在原生ios应用中引入react-native页面，使用object-c和react-native的方式混合开发，性能比传统html5混合开发方式有大幅提升。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 技术栈：object-c+react-native+cocoapods+rnpm'
            table.projectTable
                th(colspan="2")
                    i.fa.fa-archive
                    strong react-echarts
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 封装react版本的echarts。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 其他组件state修改时保证echarts不会二次渲染，提升性能。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 支持简单使用options的方式，及标准react component的方式。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 能够暴露echarts对象来进行个性化编程。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 技术栈：react+echarts+ES6+webpack+babel+npm'
            table.projectTable
                th(colspan="2")
                    i.fa.fa-archive
                    strong cuz-components
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 封装react版本基础组件组件。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 组件包含：分页组件，多级菜单，日历，按钮，弹框等。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 技术栈：react+ES6+webpack+babel+npm'
            table.projectTable
                th(colspan="2")
                    i.fa.fa-archive
                    strong 众包平台
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 使用nodejs+koa+mongodb作为服务端搭建集团内众包平台。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 前端使用react+ES6+redux+webpack+babel。'
            table.projectTable
                th(colspan="2")
                    i.fa.fa-archive
                    strong chrome插件开发
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 开发chrome插件，通过点击获取页面中任一个元素的xpath。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 修改右击菜单，能够一次同时选中所有同级元素。'

            table.projectTable
                th(colspan="2")
                    i.fa.fa-archive
                    strong table组件开发
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 开发表格数据展示组件'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 支持数据格式自定义，行合并，列合并，行固定，列固定，排序等功能。'
            table.projectTable
                th(colspan="2")
                    i.fa.fa-archive
                    strong actionJS
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 改变前端初始化方式，通过给dom元素添加属性来初始化功能。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 根据指定的属性，按需加载对应css及js。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 技术栈为requirejs + jquery'
            table.projectTable
                th(colspan="2")
                    i.fa.fa-archive
                    strong 服装搭配编辑器
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 开发服装搭配编辑器，用户可在网站对服装图片进行编辑，包括裁剪，旋转，拖动，改变层级等。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 编辑好之后可生成一张新的图片。'
                tr: td.projectTd
                    i.fa.fa-star
                    !=' 技术栈为 grunt + seajs + jquery。'
            .connect
                div markdown版本简历点击
                    a(href='https://github.com/somonus/somonus.github.io/blob/master/README.md') 这里
                div 联系方式：guiqi.zh@gmail.com
            .scroll-back
                i.fa.fa-angle-double-up



